.type-tip {
  padding: 2px 10px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 12px;
  border-radius: 6px;
  line-height: 13px;
  color: #212121;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
}
