.header {
  height: 72px;
  width: 100vw;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  background-color: var(--c-third);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  z-index: 9999;

  &__logo {
    cursor: pointer;
  }

  &__navbar {
    position: absolute;
    background: var(--yellow-gradient);
    left: 0;
    right: 0;
    top: -225px;
    height: 225px;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
    transition: 0.5s;
    z-index: 9999;

    &-logo {
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 140px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;

      li {
        font-weight: 400;
        font-size: 27px;
        line-height: 32px;
        text-shadow: 4px 4px 20px rgba(1, 28, 64, 0.2);
        margin-bottom: 18px;
        margin-right: 0;
        cursor: pointer;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    &.opened {
      top: 0;
    }

    @media screen and (min-width: 768px) {
      position: relative;
      background: transparent;
      top: 0;
      height: 100%;
      padding-top: 0;

      &-logo {
        display: none;
      }

      ul {
        flex-direction: row;
        height: 100%;

        li {
          font-size: 19px;
          line-height: 22px;
          margin-bottom: 0;
          margin-right: 24px;
        }
      }
    }

    @media screen and (min-width: 1440px) {
      ul {
        li {
          font-size: 25px;
          line-height: 29px;
        }
      }
    }
  }

  &__btn-menu {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
