<header class="header">
  <div class="header__logo">
    <img src="assets/logo.svg" alt="Logo" />
  </div>
  <nav class="header__navbar" [ngClass]="menuIsOpen ? 'opened' : ''">
    <div class="header__navbar-logo">
      <img src="assets/logo.svg" alt="Logo" />
    </div>
    <ul>
      <li>
        <a (click)="navigateTo('/')">Home</a>
      </li>
      <li>
        <a (click)="navigateTo('/pokedex')">Pokedéx</a>
      </li>
      <li>
        <a (click)="navigateTo('/')">Legendaries</a>
      </li>
      <li>
        <a (click)="navigateTo('/')">Documentation</a>
      </li>
    </ul>
  </nav>
  <button class="header__btn-menu" (click)="openMenu()">
    <img src="assets/burguer-icon.svg" alt="burguer-icon" />
  </button>
</header>
