<div
  class="pokemon-card"
  *ngIf="pokemonDetails && !loading"
  [ngStyle]="{ background: getCardBackground() }"
  (click)="openModal.emit(pokemonDetails)"
>
  <div class="pokemon-card__data">
    <p class="pokemon-card__name" [title]="pokemonDetails.name | capitalize">
      {{ pokemonDetails.name | capitalize }}
    </p>
    <div class="pokemon-card__stats">
      <div class="pokemon-card__stat">
        <span class="pokemon-card__stat-number">{{ getAttackStat() }}</span>
        <span class="pokemon-card__stat-title">Attack</span>
      </div>
      <div class="pokemon-card__stat">
        <span class="pokemon-card__stat-number">{{ getDefenseStat() }}</span>
        <span class="pokemon-card__stat-title">Defense</span>
      </div>
    </div>
    <div class="pokemon-card__types">
      <ng-container *ngFor="let type of getTypes()">
        <app-type-tip [type]="type"></app-type-tip>
      </ng-container>
    </div>
  </div>
  <div class="pokemon-card__image">
    <img [src]="getImage()" alt="" />
  </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>
