:root {
  --c-primary: #f2b807;
  --c-second: #f28f16;
  --c-third: #f5db13;
  --c-danger: #d93e30;
  --c-white: #f6f7f9;
  --c-dark: #212121;

  --s-dark: #a1a1a1;
  --s-rock: #a1a1a1;
  --s-grass: #70a83b;
  --s-bug: #70a83b;
  --s-ice: #a2cff0;
  --s-water: #a2cff0;
  --s-fire: #f76545;
  --s-fighting: #f76545;
  --s-dragon: #f76545;
  --s-normal: #76aadb;
  --s-gosth: #76aadb;
  --s-posion: #a974bc;
  --s-psychic: #a974bc;
  --s-fairy: #a974bc;
  --s-ghost: #a974bc;
  --s-ground: #9b897b;
  --s-electric: #f7c545;

  --yellow-gradient: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}
