:root {
  --c-primary: #f2b807;
  --c-second: #f28f16;
  --c-third: #f5db13;
  --c-danger: #d93e30;
  --c-white: #f6f7f9;
  --c-dark: #212121;

  --yellow-gradient: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
}
