<div class="about">
  <div>
    <p>
      This project was developed using the Angular framework, making use of some
      features of the framework, including:
    </p>
    <ul>
      <li>RoutingModule for routing</li>
      <li>HttpClientModule for HTTP requests</li>
      <li>RxJs for data management and handling of HTTP requests</li>
      <li>BrowserAnimationsModule for Angular component animations</li>
    </ul>
    <p>
      The prototype of the project is available on
      <a
        href="https://www.figma.com/community/file/893705420616737018"
        target="_blank"
        >Figma</a
      >
    </p>
    <p>
      HTTP requests were made to the Pokémon API available at
      <a href="https://pokeapi.co/" target="_blank">PokéAPI</a>
    </p>
  </div>
</div>
