<div
  class="details-modal"
  [ngStyle]="{ 'background-color': getBackgroundColor() }"
  *ngIf="pokemon"
>
  <button class="details-modal__close-button" (click)="closeModal()">
    <img src="assets/close-icon.svg" alt="close-icon" />
  </button>
  <div class="details-modal__hero">
    <p class="details-modal__hero-title">{{ pokemon.name | capitalize }}</p>
    <div class="details-modal__image">
      <img [src]="getImage()" alt="pokemon-image" />
    </div>
  </div>
  <div
    class="details-modal__content"
    [ngStyle]="{ background: getBackgroundContentColor() }"
  >
    <div class="details-modal__content-title">
      {{ pokemon.name | capitalize }}
    </div>
    <div class="details-modal__header">
      <div class="details-modal__id">{{ pokemon.id }}</div>
      <div class="details-modal__types">
        <ng-container *ngFor="let type of getTypes()">
          <app-type-tip [type]="type"></app-type-tip>
        </ng-container>
      </div>
    </div>
    <div class="details-modal__body">
      <div class="details-modal__card">
        <div class="details-modal__hp">
          <p>Healthy points</p>
          <p>{{ hp }}</p>
        </div>
        <div class="details-modal__xp">
          <p>Experience</p>
          <p>{{ pokemon.base_experience }}</p>
        </div>
      </div>
      <div class="details-modal__data">
        <div>
          <span>{{ attack }}</span>
          <p>Attack</p>
        </div>
        <div>
          <span>{{ defense }}</span>
          <p>Defense</p>
        </div>
        <div>
          <span>{{ specialAttack }}</span>
          <p>SP Attack</p>
        </div>
        <div>
          <span>{{ specialDefense }}</span>
          <p>SP Defense</p>
        </div>
        <div>
          <span>{{ speed }}</span>
          <p>Speed</p>
        </div>
      </div>
    </div>
  </div>
</div>
