.details-modal {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: 768px) {
    min-width: 80vw;
    height: 90vh;
    flex-direction: row;
  }

  @media screen and (min-width: 992px) {
    min-width: 75vw;
    height: 85vh;
  }

  @media screen and (min-width: 1200px) {
    min-width: 50vw;
    height: 80vh;
  }

  &__close-button {
    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 12;
  }

  &__hero {
    height: 35%;
    width: 100%;
    position: relative;
    z-index: inherit;
    box-shadow: none;

    @media screen and (min-width: 768px) {
      height: 100%;
      width: 35%;
      z-index: 11;
      box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }

    &-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      color: #fdfdfd;
      text-align: center;
      margin-top: 24px;
      text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__image {
    height: 100%;
    position: relative;

    @media screen and (min-width: 768px) {
      height: 50%;
    }

    img {
      height: 150%;
      position: absolute;
      z-index: 11;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media screen and (min-width: 768px) {
        height: 100%;
        transform: translate(-35%, -35%);
      }
    }
  }

  &__content {
    flex: 1;
    border-radius: 8px 8px 0 0;
    padding-top: 160px;

    @media screen and (min-width: 768px) {
      border-radius: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 32px;
    align-items: center;
  }

  &__id {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2cb07;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    width: 42px;
    height: 42px;
    border-radius: 21px;
  }

  &__types {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
