.details-modal {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    min-width: 80vw;
    height: 90vh;
    flex-direction: row;
  }

  @media screen and (min-width: 992px) {
    min-width: 75vw;
    height: 85vh;
  }

  @media screen and (min-width: 1200px) {
    min-width: 50vw;
    height: 80vh;
  }

  &__hero {
    height: 35%;
    width: 100%;
    position: relative;
    z-index: inherit;
    box-shadow: none;

    @media screen and (min-width: 768px) {
      height: 100%;
      width: 35%;
      z-index: 11;
      box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }

    &-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      color: #fdfdfd;
      text-align: center;
      margin-top: 24px;
      text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__image {
    height: 100%;
    position: relative;

    @media screen and (min-width: 768px) {
      height: 50%;
    }

    img {
      height: 150%;
      position: absolute;
      z-index: 11;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media screen and (min-width: 768px) {
        height: 100%;
        transform: translate(-35%, -35%);
      }
    }
  }

  &__content {
    flex: 1;
    border-radius: 8px 8px 0 0;

    @media screen and (min-width: 768px) {
      border-radius: 0;
    }
  }
}
