<div class="home page-content">
  <div class="home__top">
    <div class="home__titles">
      <h2><span>Find</span> all your favorite <span>Pokemon</span></h2>
      <h3>
        You can know the type of Pokemon, its strengths, disadvantages and
        abilities
      </h3>
      <app-special-button backgroundColor="#73d677"
        >See pokemons</app-special-button
      >
    </div>
    <div class="home__banner">
      <img src="assets/banner.svg" alt="" />
    </div>
  </div>
  <div class="home__bottom">
    <span
      >Design available in
      <a
        href="https://www.figma.com/community/file/893705420616737018"
        target="_blank"
        >Figma</a
      ></span
    >
  </div>
</div>
