<div class="pokedex page-content">
  <app-input-search
    (emitSearchTerm)="handleSearchTerm($event)"
  ></app-input-search>

  <ng-container *ngIf="pokemonsDisplayed && pokemonsDisplayed.length">
    <app-pokedex-list [pokemons]="pokemonsDisplayed"></app-pokedex-list>
  </ng-container>

  <ng-container *ngIf="loading$ | async">
    <app-spinner [size]="50"></app-spinner>
  </ng-container>

  <app-load-more-button
    (click)="loadMore()"
    *ngIf="showLoadMoreButton()"
  ></app-load-more-button>
</div>
